<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Station Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-md">
        <div class="row my-2">
            <div class="col">
                <h1 id="title">Station Manager</h1>
            </div>
            <div id="action-all-sensors" class="col-md-auto">
                <a href="sensors" class="btn btn-primary"> Tutti i sensori </a>
            </div>
        </div>

        <!-- Show error if present -->
        <div th:if="${error != null}" th:text="${error}" class="alert alert-danger"
            th:id="'alert-error-' + ${errorType}" role="alert">
            Questo è un errore di validazione nel form!
        </div>

        <!-- Show success message if present -->
        <div th:if="${success != null}">
            <div class="alert alert-success" th:id="'alert-success-' + ${successType}" th:text="${success}"
                role="alert">
                Esempio di messaggio di successo!
            </div>
        </div>

        <!-- List of all slots with details of connected sensor -->
        <div class="card my-2" th:each="slot : ${slots}" th:id="'slot-card-' + ${slot.slot}">
            <h5 id="slot-number" class="card-header" th:text="'S' + ${slot.slot}">
                S1
            </h5>
            <!-- Show if slot have a sensor attached -->
            <div class="card-body" th:if="${slot.hasAttachedSensor()}">
                <h6 th:id="'sensor-model-'+${slot.slot}" class="card-title" th:text="${slot.getAttachedSensor().getModelName()}">
                    drok-temperature-mk1
                </h6>

                <ul class="list-group list-group-horizontal my-2" id="sensor-specs">
                    <li id="ampere-specs" class="list-group-item">
                        <b>Amperaggio</b>
                        <i th:text="${slot.attachedSensor.minAmperage}">2.00</i>
                        ~
                        <i th:text="${slot.attachedSensor.maxAmperage}">4.00</i>
                    </li>
                    <li id="voltage-specs" class="list-group-item">
                        <b>Voltage</b>
                        <i th:text="${slot.attachedSensor.minVoltage}">1.00</i>
                        ~
                        <i th:text="${slot.attachedSensor.maxVoltage}">8.00</i>
                    </li>
                </ul>
                <a th:id="'action-remove-sensor-'+${slot.slot}" href="/slots/_id/disconnect"
                    th:href="'/slots/' + ${slot.slot} + '/disconnect'" class="btn btn-danger btn-sm">Disconetti</a>
            </div>
            <!-- Show if slot doens't have a sensor attached -->
            <div class="card-body" th:if="${!slot.hasAttachedSensor()}">
                <p id="empty-slot-description" class="card-text">Nessun sensore presente in questa porta</p>
                <a th:id="'action-connect-sensor-'+${slot.slot}" href="/slots/_id/connect.html"
                    th:href="'/slots/' + ${slot.slot} + '/connect'" class="btn btn-primary btn-sm">Collega</a>
            </div>
        </div>
</body>

</html>