<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dettagli sensore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-md">
        <div class="row my-2">
            <div class="col">
                <h1 id="title" th:text="${form.modelName}">drok-temperature-mk1</h1>
            </div>
            <div class="col-md-auto">
                <a id="action-all-sensors" href="/sensors" class="btn btn-primary"> Tutti i sensori </a>
            </div>
        </div>

        <!-- Message when sensor fields is not correct -->
        <div th:if="${error != null}" th:text="${error}" class="alert alert-danger"
            th:id="'form-validation-error-' + ${errorType}" role="alert">
            Questo è un errore di validazione nel form!
        </div>

        <form th:action="'/sensors/' + ${form.modelName} + '/update'" th:object="${form}" class="row g-3" method="post">
            <div class="col-12">
                <label for="modelName" class="form-label">Model</label>
                <input type="text" class="form-control" id="modelName" name="modelName" th:field="*{modelName}" readonly>
            </div>
            <div class="col-md-6">
                <label for="minAmperage" class="form-label">Amperaggio minimo</label>
                <input type="number" step="any" class="form-control" id="minAmperage" name="minAmperage"
                    th:field="*{minAmperage}">
            </div>
            <div class="col-md-6">
                <label for="maxAmperage" class="form-label">Amperaggio massimo</label>
                <input type="number" step="any" class="form-control" id="maxAmperage" name="maxAmperage"
                    th:field="*{maxAmperage}">
            </div>
            <div class="col-md-6">
                <label for="minVoltage" class="form-label">Voltaggio minimo</label>
                <input type="number" step="any" class="form-control" id="minVoltage" name="minVoltage"
                    th:field="*{minVoltage}">
            </div>
            <div class="col-md-6">
                <label for="maxVoltage" class="form-label">Voltaggio massimo</label>
                <input type="number" step="any" class="form-control" id="maxVoltage" name="maxVoltage"
                    th:field="*{maxVoltage}">
            </div>
            <div class="row my-2">
                <div class="col">
                    <a id="action-delete" th:href="'/sensors/' + ${form.modelName} + '/delete'" class="btn btn-danger">
                        Elimina </a>
                </div>
                <div class="col-md-auto">
                    <a id="action-cancel" href="/sensors" class="btn btn-secondary"> Annulla </a>
                    <button id="action-create" type="submit" class="btn btn-primary">Aggiorna sensore</button>
                </div>
            </div>
        </form>

    </div>
</body>

</html>