<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dettagli sensore</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-md">
        <div class="row my-2">
            <div class="col">
                <h1 id="title" th:text="${sensor.modelName}">drok-temperature-mk1</h1>
            </div>
            <div class="col-md-auto">
                <a id="action-all-sensors" href="/sensors" class="btn btn-primary"> Tutti i sensori </a>
            </div>
        </div>

        <!-- Message when sensor fields is not correct -->
        <div th:if="${error != null}" th:text="${error}" class="alert alert-danger"
            th:id="'form-validation-error-' + ${errorType}" role="alert">
            Questo è un errore di validazione nel form!
        </div>

        <form action="/sensors/_id/update" th:action="'/sensors/' + ${sensor.modelName} + '/update'" class="row g-3">
            <div class="col-12">
                <label for="model" class="form-label">Model</label>
                <input type="text" class="form-control" id="model-name" name="model-name" th:value="${modelName}">
            </div>
            <div class="col-md-6">
                <label for="ampere-min" class="form-label">Ampere minimo</label>
                <input type="text" class="form-control" id="ampere-min" name="ampere-min" th:value="${ampereMin}">
            </div>
            <div class="col-md-6">
                <label for="ampere-max" class="form-label">Ampere massimo</label>
                <input type="text" class="form-control" id="ampere-max" name="ampere-max" th:value="${ampereMax}">
            </div>
            <div class="col-md-6">
                <label for="voltage-min" class="form-label">Voltaggio minimo</label>
                <input type="text" class="form-control" id="voltage-min" name="voltage-min" th:value="${voltageMin}">
            </div>
            <div class="col-md-6">
                <label for="voltage-max" class="form-label">Voltaggio massimo</label>
                <input type="text" class="form-control" id="voltage-max" name="voltage-max" th:value="${voltageMax}">
            </div>
            <div class="row my-2">
                <div class="col">
                    <a id="action-delete" href="/sensors/_id/delete" class="btn btn-danger"> Elimina </a>
                </div>
                <div class="col-md-auto">
                    <a id="action-cancel" href="/sensors/_id/reset" class="btn btn-secondary"> Annulla </a>
                    <button id="action-create" type="submit" class="btn btn-primary">Aggiorna sensore</button>
                </div>
            </div>
        </form>

    </div>
</body>

</html>