<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tutti i sensori</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-md">
        <div class="row my-2">
            <div class="col">
                <h1 id="title">Tutti i sensori</h1>
            </div>
            <div class="col-md-auto">
                <a href="/slots" id="action-all-slots" class="btn btn-primary"> Tutti gli slots </a>
            </div>
            <div class="col-md-auto">
                <a href="/sensors/new" id="action-new-sensor" class="btn btn-primary"> Nuovo sensore </a>
            </div>
        </div>

        <div th:if="${success != null}">
            <div class="alert alert-success" th:id="'alert-sensor-connect-success-' + ${successType}"
                th:text="${success}" role="alert">
                Esempio di messaggio di successo!
            </div>
        </div>

        <!-- List of all {sensors} to select one to connect on {slot} -->
        <div class="card my-2" th:each="sensor : ${sensors}" th:id="'sensor-card-' + ${sensor.modelName}">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 th:id="'sensor-name-'+${sensor.modelName}" class="card-title" th:text="${sensor.modelName}">drok-temperature-mk1</h4>
                        <ul class="list-group list-group-horizontal my-2" id="sensor-specs">
                            <li id="ampere-specs" class="list-group-item">
                                <b>Amperaggio</b>
                                <i th:text="${sensor.minAmperage}">2.00</i>
                                ~
                                <i th:text="${sensor.maxAmperage}">4.00</i>
                            </li>
                            <li id="voltage-specs" class="list-group-item">
                                <b>Voltage</b>
                                <i th:text="${sensor.minVoltage}">1.00</i>
                                ~
                                <i th:text="${sensor.maxVoltage}">8.00</i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-auto">
                        <!-- Call controller to view and edit {sensor} details -->
                        <a href="/sensors/_id" th:href="'/sensors/' + ${sensor.modelName}" id="action-sensor-details"
                            class="btn btn-primary"> Modifica
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

</html>