<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
</head>

<body>
    <div class="container-md">
        <h1>Dashboard</h1>
        <a href="sensors" class="btn btn-primary"> Go to sensors </a>
        <div id="list">
            <div th:each="item : ${data}">
                <canvas th:id="'chart-' + ${item.sensor.id}"></canvas>
                <div>
                    <h2>
                        <span th:text="${item.sensor.descriptor.model}" />
                    </h2>
                    <span th:text="${item.labels}" />
                    <!--                    <p>Value: <span th:text="${item.value}">Value</span></p>-->
                </div>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        const charts = /*[[${data}]]*/;

        for (data of charts) {
            const labels = data.labels;
            const values = data.values;
            const ctx = document.getElementById('chart-' + data.sensor.id).getContext('2d');
            const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'My Data',
                    data: values,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                }
            }
        });
        }
    </script>
</body>

</html>